<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsiet.manager.mapper.StoreMapper">

	<select id="selectAllStore" resultType="com.wsiet.manager.domain.StoreVO">
		<![CDATA[
			SELECT 
				A.CODE_ID
				,A.ST_NUM
				,A.ST_NAME
				,A.ST_BIZNUM
				,A.ST_ADDRESS1
				,A.ST_PHONE
				,A.STARTTIME1
				,A.ENDTIME1
				,A.ST_CONTENT
				,A.ST_REVIEWAVG
				,A.REGDATE
				,A.UPDDATE
				,A.ST_ADDRESS2
				,A.ST_ADDRESS3
				,A.USER_ID
				,(SELECT '/display?fileName=%2F'||ST_UUID||'_'||ST_FILENAME FROM STORE_IMG WHERE ST_NUM = A.ST_NUM AND ROWNUM = 1) AS ST_FILE_URL
			FROM STORE A 
			ORDER BY ST_NUM DESC
		]]>
	</select>
	
	<insert id="insertStore">
		<selectKey keyProperty="st_num" order="BEFORE" resultType="int">
			select SEQ_STORE_ST_NUM.nextval from dual
		</selectKey>
		
		INSERT INTO STORE (CODE_ID, ST_NUM, ST_NAME, ST_BIZNUM, ST_ADDRESS1, ST_PHONE, STARTTIME1, ENDTIME1, ST_CONTENT, ST_REVIEWAVG, REGDATE, UPDDATE, ST_ADDRESS2, ST_ADDRESS3, USER_ID) 
			VALUES(#{code_id}, #{st_num}, #{st_name}, #{st_biznum}, #{st_address1}, #{st_phone}, #{startTime1}, #{endTime1}, #{st_content}, 0, SYSDATE , SYSDATE , #{st_address2}, #{st_address3}, 'test1')
	
	</insert>
	
	<select id="bizNumCheck" parameterType="String" resultType="integer">
		SELECT count(*) FROM STORE WHERE ST_BIZNUM= #{st_biznum}
	</select>
	
	<select id="selectStoreByNum" resultType="com.wsiet.manager.domain.StoreVO">
		SELECT * FROM STORE
		WHERE ST_NUM = #{st_num}
	</select>
	
	<select id="selectAddress" resultType="com.wsiet.manager.domain.StoreVO">
		SELECT ST_ADDRESS1, ST_ADDRESS2, ST_ADDRESS3 
		FROM STORE
		WHERE ST_NUM = #{st_num}
	</select>
	
	<update id="updateStore">
		UPDATE STORE 
		SET CODE_ID=#{code_id}, ST_NAME=#{st_name}, ST_ADDRESS1=#{st_address1}, ST_PHONE=#{st_phone}, STARTTIME1=#{startTime1}, ENDTIME1=#{endTime1}, ST_CONTENT=#{st_content}, UPDDATE=SYSDATE, ST_ADDRESS2=#{st_address2}, ST_ADDRESS3=#{st_address3}, USER_ID='test1' 
		WHERE ST_NUM=#{st_num}
	</update>
	
	<delete id="deleteStore">
		DELETE FROM STORE
		WHERE ST_NUM= #{st_num}
	</delete>
</mapper>